@model mvcSchool.Models.StudentModel

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Student</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FirstName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.LastName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Birthdate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Birthdate)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Gender)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Gender)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Township)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Township)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PostalCode)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PostalCode)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Address)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Address)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PhoneNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PhoneNumber)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Courses)
		</dt>
		<dd class = "col-sm-10">
			@*@ViewData["courseNames"]*@
			@foreach (string item in Model.Courses)
			{
				string course = Model.GetCourseName(item);
				@Html.DisplayFor(model => course)<br />
			}
		</dd>
	</dl>
</div>
@*<div class="col-md-4">
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayName("Courses")
				</th>
				<th>
					@Html.DisplayName("Results")
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.CourseResults)
			{
				<tr>
					<td>
						@Html.Label("",item.Key)
					</td>
					<td>
						@Html.Label(item.Value.ToString())
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>*@
<div class="col-12">
	<a asp-action="Index" class="btn btn-primary float-end">Back</a>
</div>
