@model mvcSchool.Models.CourseModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => /*model.CourseTeacher*/ model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => /*model.CourseTeacher*/ model.Teacher.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd class = "col-sm-10">
            <form asp-action="Edit">
                @foreach (StudentModel item in Model.Students)
			    {
				    @Html.DisplayFor(model => item.FullName)
                    <input name="@item.Id" class="form-control" @*value="@item.CourseResults[Model.CourseName]"*@/>
			    }
            </form>
        </dd>
    </dl>
</div>
<div class="col-12">
    <a asp-action="Index" class="btn btn-primary float-end">Back</a>
</div>


       
